<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Bushra Schools Management System
        {% if title %}
            - {{ title }} 
        {% endif %}
    </title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Moul&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}  
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
</head>
<body class="{% block body_class %}{% endblock %}">
    <!-- This template is for loading all scripts used a close the application -->
     {% block template_body %}
     {% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    // DISMISS SPECIFIC ALERT AUTOMATICALLY
    document.addEventListener("DOMContentLoaded", () => {
        const autoDismissCategories = ["success", "info"];

        document.querySelectorAll(".alert").forEach(alert => {
            autoDismissCategories.forEach(cat => {
                if (alert.classList.contains(`alert-${cat}`)) {
                    setTimeout(() => {
                        alert.classList.remove("show");
                        alert.classList.add("fade");
                        setTimeout(() => alert.remove(), 300);
                    }, 4000);
                }
            });
        });
    });
</script>
</body>
</html>